{% extends 'base.html.twig' %}

{% block title %}Hello IndicationController!
{% endblock %}

{% block body %}
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>

<div class="example-wrapper">
	<div class="row">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Medecin</th>
					<th scope="col">statut</th>
					<th scope="col">Date</th>
					<th scope="col">Heure</th>
					<th scope="col">Duree(min)</th>
				</tr>
			</thead>
			<tbody>
				{% for patient in lesPatients %}
				<tr>
						<td class="align-middle" scope="row-4">{{patient.getid}}</td>
						<td class="align-middle" scope="row-4">{{patient.getMedecin.getNom}}</td>
						<td class="align-middle" scope="row-4">{{patient.getStatut}}</td>
						<td class="align-middle" scope="row-4">{{patient.date|date('Y-m-d')}}</td>
						<td class="align-middle" scope="row-4">{{patient.getHeure|date('H:i:s')}}</td>
						<td class="align-middle" scope="row-4">{{patient.getDuree|date('i:s')}}</td>
						<td class="align-middle">
							<div class="row">
								<div class="col">
									<div class="d-grid">
										<a href="/patient/consult/{{patient.getid}}">
											<button type="button" class="btn btn-success">
												Voir en detail
											</button>
										</a>
									</div>
								</div>
							</div>
							</td>
						</td>
					</tr>
				</tr>
			</tbody>
		</li>
	</tbody>
</td></tr></td></tbody></li></td>
					{% endfor %}</tbody></tr></div> </div>{% endblock %}
