{% extends 'base.html.twig' %}

{% block title %}Hello AssistantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-decoration:underline">Validation des rendez-vous</h1>
    <br>
    <p>Liste des rendez-vous en attente de validation :</p>
    <table>
        <tr>
            <th>Nom du patient</th>
            <th>Prénom du patient</th>
            <th>Nom du médecin</th>
            <th>Date demandée</th>
            <th>Heure demandée</th>
            <th>Action</th>
        </tr>
        {% for rdv in rdvs %}
            <tr>
            {% if rdv.getStatut.getId == 1 %}
                <td>{{ rdv.getPatient.getNom }}</td>
                <td>{{ rdv.getPatient.getPrenom }}</td>
                <td>{{ rdv.getMedecin.getNom }}</td>
                <td>{{ rdv.getDate|date('d-m-Y') }}</td>
                <td>{{ rdv.getHeure|date('H:i') }}</td>
                <td>
                    <button class="btn btn-primary" href={{path()}}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button>
                </td>
            {% endif %} 
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
