<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Hopital Bodrum |
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<body>
		{% if app.user %}
			{% for role in app.user.getRoles %}
				{% if role is same as('ROLE_PATIENT') %}
					<div class="example-wrapper">
						<nav class="navbar navbar-expand-lg bg-light">
							<div class="container-fluid">
								<a class="navbar-brand" href="#"></a>
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav me-auto mb-2 mb-lg-0">
										<li class="nav-item">
											<a class="nav-link active" aria-current="page" href="/">Accueil</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/patient/demande">demande RDV</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/patient/consult">Voir ses RDV</a>
										</li>
										{% if app.user %}
											<span class="navbar-text">
												{{ app.user.userIdentifier}}     
											</span>
											<span class="navbar-text">
											    <a href="{{ path('app_logout') }}">Logout</a>
											</span>
										{% endif %}
									</ul>

								</div>
							</div>
						</nav>

				{% elseif role is same as('ROLE_MEDECIN') %}
						<div class="example-wrapper">
							<nav class="navbar navbar-expand-lg bg-light">
								<div class="container-fluid">
									<a class="navbar-brand" href="#"></a>
									<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
									</button>
									<div class="collapse navbar-collapse" id="navbarSupportedContent">
										<ul class="navbar-nav me-auto mb-2 mb-lg-0">
											<li class="nav-item">
												<a class="nav-link active" aria-current="page" href="/">Accueil</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/login">MEDECIn</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/register">medeicn2</a>
											</li>
											<li class="nav-item">
													<a class="nav-link" href={{path('app_logout')}}>Déconnexion</a>
												</li>
										</ul>
										<span class="navbar-text">
												Connecté en tant que : {{app.user.email}}
										</span>
									</div>
								</div>
							</nav>


				{% elseif role is same as('ROLE_ASSISTANT') %}
							<div class="example-wrapper">
								<nav class="navbar navbar-expand-lg bg-light">
									<div class="container-fluid">
										<a class="navbar-brand" href="#"></a>
										<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
											<span class="navbar-toggler-icon"></span>
										</button>
										<div class="collapse navbar-collapse" id="navbarSupportedContent">
											<ul class="navbar-nav me-auto mb-2 mb-lg-0">
												<li class="nav-item">
													<a class="nav-link active" aria-current="page" href="/">Accueil</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href={{path('app_assistant') }}>Menu Assistant</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href={{path('app_logout')}}>Déconnexion</a>
												</li>
											</ul>
											<span class="navbar-text">
												Connecté en tant que : {{app.user.email}}
											</span>

										</div>
									</div>
								</nav>
				{% elseif role is same as('ROLE_ADMIN') %}
								<div class="example-wrapper">
									<nav class="navbar navbar-expand-lg bg-light">
										<div class="container-fluid">
											<a class="navbar-brand" href="#"></a>
											<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav me-auto mb-2 mb-lg-0">
													<li class="nav-item">
														<a class="nav-link active" aria-current="page" href="/">Accueil</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="/login">admin</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="/register">amin</a>
													</li>
												</ul>

											</div>
										</div>
									</nav>
				{% endif %}
						{% endfor %}		
		{% else %}
				<div class="example-wrapper ">
					<nav class="navbar navbar-expand-lg bg-light">
						<div class="container-fluid">
							<a class="navbar-brand" href="#"></a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
										<li class="nav-item">
											<a class="nav-link active" aria-current="page" href="/">Accueil</a>
										</li>
										<li class="nav-item">
												<a class="nav-link" href="/login">Se Connecter</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/register">S'inscrire</a>
										</li>
										<li class="nav-item dropdown">
		
										</ul>
										</li>

										{% block navbar %}{% endblock %}
										</ul>
										</div>
										</div>
									</nav>
		{% endif %}
		{% block body %}{% endblock %}
		{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
