{% extends 'base.html.twig' %}

{% block title %}Hello AssistantController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Liste des rendez-vous :</h1>
		<br>
		<p>Veuillez choisir une date :</p>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		<table class="table table-striped">
        <tr>
            <th>Nom du patient</th>
            <th>Prénom du patient</th>
            <th>Nom du médecin</th>
            <th>Date demandée</th>
            <th>Heure demandée</th>
            <th>Statut</th>
        </tr>
        {% for rdv in rdvs %}
            <tr>
				<td>{{ rdv.getPatient.getNom }}</td>
				<td>{{ rdv.getPatient.getPrenom }}</td>
				<td>{{ rdv.getMedecin.getNom }}</td>
				<td>{{ rdv.getDate|date('d/m/Y') }}</td>
				<td>{{ rdv.getHeure|date('H:i') }}</td>
				<td>{{ rdv.getStatut.getLibelle }}</td>
            </tr>
        {% endfor %}
    </table>
	{% endblock %}
